
@font-face {
	font-family: 'A2v10';
	font-display: fallback;
	src: url('/css/fonts/A2v10.eot');
	src: url('/css/fonts/A2v10.eot?#iefix') format('eot'), url('/css/fonts/A2v10.woff?v=7550') format('woff'), url('/css/fonts/A2v10.ttf?v=7550') format('truetype'), url('/css/fonts/A2v10.svg#A2v10') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ico {
	font-family:"A2v10";
	speak: none;
}
