
html {
	height:100%;
	width:100%;
}

body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
}


@import "icon.scss";
@import "toolbox.scss";
@import "designer.scss";
@import "editor.scss";


.graph-container {
	background-color:#fcfcfc;
	width:800px;
	height:600px;
}