@model WorkflowEditorModel
@{
	Layout = "_LayoutDesigner";
}

<h3>DIAGRAM EDITOR</h3>
<div id="root">
	<a2-graph-editor :model="source"></a2-graph-editor>
</div>


@section Scripts {
	<script type="text/javascript">
		// global mxGraph variables
		var mxLoadStylesheets = false;
		var mxLoadResources = false;
		// editor configuration
		window.mxEditorConfig = `@Html.Raw(Model.EditorConfigXml)`;
		window.mxEditorShapes = `@Html.Raw(Model.EditorShapesXml)`;
	</script>
	<script type="text/javascript" src="~/lib/mxClient.min.js"></script>
	<script type="text/javascript" src="~/js/editor.js"></script>
	<script>
		new Vue({
			el: '#root',
			data: {
				source: @Html.Raw(Model.ModelJson),
			}
		});
	</script>
}