@model WorkflowEditorModel
@{
	Layout = "_LayoutDesigner";
}

<div class="procs-designer" id="procs-designer">
	<a2-mxgraph-toolbox></a2-mxgraph-toolbox>
	<a2-mxgraph-editor :model="model"></a2-mxgraph-editor>
	<a2-mxgraph-properties :model="model"></a2-mxgraph-properties>
</div>


@section Scripts {
	<script type="text/javascript">
		// global mxGraph variables
		var mxLoadStylesheets = false;
		var mxLoadResources = false;
	</script>
	<script type="text/javascript" src="~/lib/mxClient.min.js"></script>
	<script type="text/javascript" src="~/js/designer.js"></script>
	<script>
		(function () {
			let plainModel = @Html.Raw(@Model.ModelJson);
			let ctors = window.app.$Constructors;
			let stateMachine = new ctors.StateMachine(plainModel);
			new Vue({
				el: '#procs-designer',
				data: {
					model: stateMachine
				}
			});
		})();
	</script>
}